form {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 300px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select, input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

/* Estilos para los resultados */
.habitacion {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.habitacion h3 {
    margin-top: 0;
}

.habitacion img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}