<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gran Hotel Desamparados</title>
    <link rel="shortcut icon" href="./images/download-icon-city+home+hotel+icon-1320086447685977083_32.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>
<body>
    <header class="hero">
        <nav class="nav container">
            <div class="nav_logo">
                <h2 class="nav_title">Gran Hotel Desamparados</h2>
            </div>
            <ul class="nav_link nav_link--menu">
                <li class="nav_items">
                    <a href="#" class="nav_links">Inicio</a>
                </li>
                <li class="nav_items">
                    <a href="#" class="nav_links">Habitaciones</a>
                </li>
                <li class="nav_items">
                    <a href="#" class="nav_links">Servicios</a>
                </li>
                <li class="nav_items">
                    <a href="#" class="nav_links">Reservaciones</a>
                </li>
                <li class="nav_items">
                    <a href="#" class="nav_links">Contacto</a>
                </li>
            </ul>
        </nav>
        <section class="hero_container container">
            <h1 class="hero_title">Gran Hotel Desamparados</h1>
            <p class="hero_paragraph">Bienvenido a nuestro hotel, donde la comodidad y la hospitalidad se encuentran</p>
            <a href="#" class="cta">Reserva ya</a>
        </section>
    </header>

<main>
    <section class="container about">
        <h2 class="subtitle">¿Que encontrarás en este hotel?</h2>
        <p class="about_paragrah">Un Hotel comodo,con H de Familia, Mas que un cliente es un miembros de la familia más</p>
        
        <div class="about_main">
         <article class="about_icon">
            <img src="./images/bed.svg" class="about_icon">
        <h3 class="about_title">Confor</h3>
        <p class="about_paragrah">Hotel ofrece conformidad excepcional: calidad, atención y ambiente acogedor. </p>
        </article> 
        <article class="about_icon">
            <img src="./images/check.svg" class="about_icon">
        <h3 class="about_title">Limpieza</h3>
        <p class="about_paragrah">Limpieza impecable asegura estancia sin preocupaciones y estándar excepcional. </p>
        </article> 
        <article class="about_icon">
            <img src="./images/alert.svg" class="about_icon">
        <h3 class="about_title">Seguridad</h3>
        <p class="about_paragrah">Garantía de paz: medidas estrictas para huéspedes seguros.  </p>
        </article>   
        </div>
        
    </section>
    <section class="knowledge">
        <div class="knowledge_container container">
            <div class="knowledge_texts">
                <h2 class="subtitle">Habitaciones llenas de comodidad </h2>
<p class="knowledge_paragraph">Las habitaciones 
    están meticulosamente diseñadas para 
    proporcionar un ambiente de máximo confort, 
    adaptado para asegurar una estancia placentera y relajante para todos los huéspedes. Cada detalle ha sido cuidadosamente 
    considerado para garantizar una experiencia de alojamiento inigualable.</p>
   <a href="#" class="cta">Ver Habitaciones</a>
</div>
<figure class="knowledge_picture">
<img src="./images/5x5.png" alt="knowledge_img">

</figure>

</div>
    </section>


    <section class="price container">
        <h2 class="subtitle">Todo tipo de habitaciones según sus necesidades</h2>
       
        <div class="price_table">
            <div class="price_element">
                <p class="plan_name">Starndar</p>
                <h3 class="plan_price">Habitacion con abanico</h3>

                <div class="plan_items">
                    <p class="plan_features">Flexbox</p>
                    <p class="plan_features">Layouts</p>
                    <p class="plan_features">Resposive</p>
                </div>

                <a href="#" class="plan_cta">Ver Habitacion</a>
            </div>


            <div class="price_element price_element--best" >
                <p class="plan_name">Premium</p>
                <h3 class="plan_price">Habitacion con aire Acondicionado</h3>

                <div class="plan_items">
                    <p class="plan_features">Sofa cama</p>
                    <p class="plan_features">mini refri</p>
                    <p class="plan_features">Coffe-maker</p>
                </div>

                <a href="#" class="plan_cta">Ver Habitacion</a>
            </div>

            <div class="price_element price_element--best" >
                <p class="plan_name">Family</p>
                <h3 class="plan_price">Habitacion Familiar</h3>

                <div class="plan_items">
                    <p class="plan_features">Sofa cama</p>
                    <p class="plan_features">mini refri</p>
                    <p class="plan_features">Coffe-maker</p>
                </div>

                <a href="#" class="plan_cta">Ver Habitacion</a>
            </div>
        
            </main>
    
</body>
</html>
