<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesión</title>
    <link rel="stylesheet" href="/views/css/estilos.css">
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('<?php echo controlador::$rutaAPP ?>app/recursos/css/images/inicioSesion.jpeg');">
            <div class="wrap-input100 validate-input m-b-23" data-validate="User is required">
                <form class="login100-form validate-form" action="<?php echo controlador::$rutaAPP ?>index.php?action=validar" method="POST">
                    <span class="login100-form-title p-b-49">
                        INICIO DE SESIÓN
                        <hr>
                    </span>

                    <div class="wrap-input100 validate-input m-b-23" data-validate="Nombre de usuario requerido">
                        <span class="label-input100">Usuario</span>
                        <input class="input100" type="text" name="usuario" placeholder="Ingrese su nombre de usuario" id="usuario">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Contraseña requerida">
                        <span class="label-input100">Contraseña</span>
                        <input class="input100" type="password" name="contraseña" placeholder="Ingrese su contraseña" id="contraseña">
                        <hr>
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit">
                                Ingresar
                            </button>
                        </div>
                    </div>

                    <div align="center" class="alert" id="mensaje" style="display: none; width: 100%; font-size: 20px;"></div>

                    <div class="txt1 text-center p-t-54 p-b-20">
                        <a href="ContraseñaNueva.php">Restablecer contraseña</a>
                        <a href="crearCuenta.php">Crear una cuenta</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="dropDownSelect1"></div>

    <!-- Remove these script tags -->
    <!-- <script src="<?php echo controlador::$rutaAPP ?>app/views/login/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="<?php echo controlador::$rutaAPP ?>app/views/login/assets/vendor/animsition/js/animsition.min.js"></script>
    <script src="<?php echo controlador::$rutaAPP ?>app/views/login/assets/vendor/bootstrap/js/popper.js"></script>
    <script src="<?php echo controlador::$rutaAPP ?>app/views/login/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="<?php echo controlador::$rutaAPP ?>app/views/login/assets/vendor/select2/select2.min.js"></script>
    <script src="<?php echo controlador::$rutaAPP ?>app/views/login/assets/vendor/daterangepicker/moment.min.js"></script>
    <script src="<?php echo controlador::$rutaAPP ?>app/views/login/assets/vendor/daterangepicker/daterangepicker.min.js"></script>
    <script src="<?php echo controlador::$rutaAPP ?>app/views/login/assets/vendor/countdowntime/countdowntime.js"></script>
    <script src="<?php echo controlador::$rutaAPP ?>app/views/login/assets/js/main.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#miform").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    dataType: "json",
                    url: "<?php echo controlador::$rutaAPP ?>index.php?action=validar",
                    type: "POST",
                    data: {
                        usr: $("#usuario").val(),
                        pass: $("#contraseña").val()
                    },
                    success: function (data) {
                        if (data.success == false) {
                            $("#mensaje").show();
                            $("#mensaje").html(data.msg);
                            $('.log-status').addClass('wrong-entry');
                            $('.alert').fadeIn(700);
                            setTimeout("$('.alert').fadeOut(1800);", 1500);
                        } else {
                            window.location = data.link;
                        }
                    },
                    error: function (response) {
                        $("#mensaje").show();
                        $("#mensaje").html(response.responseText);
                    }
                });
            });
            $('.form-control').keypress(function () {
                $('.log-status').removeClass('wrong');
            });
        });
    </script> -->
</body>
</html>
